:root {
  /* --backround-image: url('https://oykwqfkocubjvrixrunf.supabase.co/storage/v1/object/public/bilder/bkgr-01.svg'); */
  --backround-image: url('https://lindersplantskola.s3.eu-north-1.amazonaws.com/hemsida-assets/bkgr.png');
  --dotted-border: 4px dotted #6e4422;
  --border-color: #6e4422;
  --box-shadow: 0 0 20px #101000;
  --backround-color: #2e1d00;
  --text-color: #f7e8c7;
  --text-color-mute: #cfbe9b;
  --text-color-on-white: #412816;
  --beige-background: rgb(250, 236, 201);
  --primary: #eaac06;
  --link-color: rgb(241, 202, 103);
  --border-radius-small: 0.25rem;
  --border-radius-medium: 0.5rem;
  --border-radius-large: 1rem;

  --title-font: 'Cabin Sketch', 'Alfa Slab One', 'Merriweather',
    'Times New Roman', Times, serif;
}
